@charset "utf-8";
@charset "utf-8";
/* CSS Document */

body {
	font-family: "Comic Sans MS", cursive;
	font-size: medium;
	font-style: normal;
	background-color: #FFF;
	letter-spacing: 1px;
	word-spacing: 1px;
	height: auto;
	width: auto;
	color: #000;
}


div.sidebar {
	background-color: #FF0;
	width: 19%;
	height: 100%;
	float: left;
	font-family: "Comic Sans MS", cursive;
	font-size: medium;
	line-height: 2em;
	text-decoration: blink;
	color: #696;
}
h1,h1,h2,h3,h4,h5,h6 {
	font-family: "Comic Sans MS", cursive;
	font-size: xx-large;
	font-style: normal;
	color: #000;
}
div.footer {
	margin-top: 1em;
	font-family: "Comic Sans MS", cursive;
	font-size: large;
	text-decoration: blink;
}
/* CSS Document */

.sidebar p {
	color: #6C6;
}
